<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adufeitian.servicesystem.mybatis.mapper.PersonalInfoMapper">
  <resultMap id="BaseResultMap" type="com.adufeitian.servicesystem.mybatis.domain.PersonalInfo">
    <id column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="servicer_id" jdbcType="INTEGER" property="servicerId" />
    <result column="acoount" jdbcType="VARCHAR" property="acoount" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="character" jdbcType="VARCHAR" property="character" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tell" jdbcType="VARCHAR" property="tell" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    person_id, servicer_id, acoount, password, character, name, tell, address
  </sql>
  <select id="selectByExample" parameterType="com.adufeitian.servicesystem.mybatis.domain.PersonalInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from personal_info
    where person_id = #{personId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from personal_info
    where person_id = #{personId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.adufeitian.servicesystem.mybatis.domain.PersonalInfoExample">
    delete from personal_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.adufeitian.servicesystem.mybatis.domain.PersonalInfo">
    insert into personal_info (person_id, servicer_id, acoount, 
      password, character, name, 
      tell, address)
    values (#{personId,jdbcType=INTEGER}, #{servicerId,jdbcType=INTEGER}, #{acoount,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{character,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{tell,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adufeitian.servicesystem.mybatis.domain.PersonalInfo">
    insert into personal_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="personId != null">
        person_id,
      </if>
      <if test="servicerId != null">
        servicer_id,
      </if>
      <if test="acoount != null">
        acoount,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="character != null">
        character,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tell != null">
        tell,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="servicerId != null">
        #{servicerId,jdbcType=INTEGER},
      </if>
      <if test="acoount != null">
        #{acoount,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="character != null">
        #{character,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tell != null">
        #{tell,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.adufeitian.servicesystem.mybatis.domain.PersonalInfoExample" resultType="java.lang.Long">
    select count(*) from personal_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update personal_info
    <set>
      <if test="record.personId != null">
        person_id = #{record.personId,jdbcType=INTEGER},
      </if>
      <if test="record.servicerId != null">
        servicer_id = #{record.servicerId,jdbcType=INTEGER},
      </if>
      <if test="record.acoount != null">
        acoount = #{record.acoount,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.character != null">
        character = #{record.character,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tell != null">
        tell = #{record.tell,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update personal_info
    set person_id = #{record.personId,jdbcType=INTEGER},
      servicer_id = #{record.servicerId,jdbcType=INTEGER},
      acoount = #{record.acoount,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      character = #{record.character,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      tell = #{record.tell,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.adufeitian.servicesystem.mybatis.domain.PersonalInfo">
    update personal_info
    <set>
      <if test="servicerId != null">
        servicer_id = #{servicerId,jdbcType=INTEGER},
      </if>
      <if test="acoount != null">
        acoount = #{acoount,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="character != null">
        character = #{character,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tell != null">
        tell = #{tell,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where person_id = #{personId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adufeitian.servicesystem.mybatis.domain.PersonalInfo">
    update personal_info
    set servicer_id = #{servicerId,jdbcType=INTEGER},
      acoount = #{acoount,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      character = #{character,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      tell = #{tell,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where person_id = #{personId,jdbcType=INTEGER}
  </update>
</mapper>